body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0.5em 0;
}

.section {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #ddd;
}

.heading {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.heading:hover {
    color: #007BFF;
    transform: scale(1.05);
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
}

.content.visible {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #333;
}

footer p {
    margin: 0;
}
